@import "../utils/colors";

.home-bar {
  width: 80px;
  background: $black;
  padding-top: 35px;
}

.route-option {
  padding: 10px 5px;
  cursor: pointer;
  transition: background 200ms ease-out;
}

.selected {
  background: lighten($black, 15%);
}