$text-color: #FDFEFE;
$muted-text-color: rgba($text-color, 0.5);

$green3: #1D8348;
$green2: #28B463;
$green1: #58D68D;

$blue3: #21618C;
$blue2: #2E86C1;
$blue1: #5DADE2;

$red3: #943126;
$red2: #CB4335;
$red1: #EC7063;

$dark-gray: #1F2833;
$black: #0B0C10;
