@import "../../../utils/colors.scss";

.select-datasets-title {
  margin-bottom: 10px;
}

.dataset-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 3px;
  box-shadow: 0 1px $divider, 0 -1px $divider, -1px 0 $divider, 1px 0 $divider;
  background: $text-color;

  >:not(:last-child) {
    box-shadow: 0 1px $divider;
  }
}

.dataset {
  padding: 10px;
  cursor: pointer;
}

.selected-dataset {
  background: rgba($blue1, 0.25);
}
