@import "../../utils/colors";
@import "../../utils/utils";

.dataset-header-text {
  margin-left: 10px;
  font-weight: 600;
  padding-top: 10px;
}

.datasets-table {
  margin-top: 10px;
  box-shadow: 0 1px $muted-text-color, 0 -1px $muted-text-color;
}

.dataset-non-ideal {
  color: $muted-text-color;
}

.single-dataset {
  padding: 5px 10px;
  box-shadow: 0 1px $muted-text-color;
  cursor: pointer;

  &:hover {
    background: rgba($text-color, 0.1);
  }
}

.selected-dataset {
  background: rgba($blue1, 0.2);
}

.json-container {
  padding: 15px;
  max-height: $height;
  overflow-y: auto;
  box-shadow: -1px 0 $text-color;
}