@import "../../utils/looking-glass.scss";

.header-container {
  padding: 10px;
}

.dataset-header-text {
  font-weight: 600;
}

.datasets-table {
  box-shadow: 0 1px $muted-text-color, 0 -1px $muted-text-color;
}

.single-dataset {
  padding: 5px 10px;
  box-shadow: 0 1px $muted-text-color;
  cursor: pointer;

  &:hover {
    background: $hover-color;
  }
}

.left-container {
  max-height: 100vh;
}

.single-dataset-container {
  box-shadow: -1px 0 $text-color;
}

.selected-dataset {
  background: $selected-color;
}

.ping-internet-container {
  padding: 10px;
}
