@import "../../utils/looking-glass.scss";

.fade-in {
  @extend %fade-in;
}

$metadata-container-height: 130px;

.metadata-container {
  position: relative;
  height: $metadata-container-height;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 1px rgba($text-color, 0.5);
  background: rgba($black, 0.25);
  z-index: 1;

  > :not(:last-child) {
    padding-bottom: 5px;
  }
}

.json-container {
  position: relative;
  padding: 15px;
  max-height: calc(100vh - 110px);
  overflow-y: auto;
}

.dataset-non-ideal {
  color: $muted-text-color;
}

.metadata-title {
  color: $muted-text-color;
}

.metadata-value {
  margin-left: 10px;
}

%label {
  position: fixed;
  right: 10px;
  color: $muted-text-color;
  z-index: 1;
  font-size: 12px;
}

.metadata-container-label {
  @extend %label;
  top: 10px;
}

.json-container-label {
  @extend %label;
  top: $metadata-container-height + 10px;
}
